.nav-bar {
  text-align: right;
  padding-right: 10px;
}

.new-post-input {
  padding-left: 1%;
  padding-top: 5px;
}

.nav-bar {
  list-style: none;
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid;
  float: right;
}